
/*************************
******* Global ********
*************************/


#dashboard-nav {
    background-color: whitesmoke;
}
#dashboard-nav .nav-item {
    padding-left: 1rem;
}

#dashboard-nav li a{
    color: #89ACAA;
    text-decoration: none;
}

#dashboard-nav li:hover, #dashboard-nav .active{
    background-color: white;
    border-left: 3px solid #89ACAA;
}

#dashboard-top {
    background-color: whitesmoke;
    height: 59px;
}

#dashboard-top a {
    height: fit-content;
}

@media (min-width:768px) {
    #dashboard-content {
        height: 85vh;
    }
}

@media (max-width:767px) {
    #userInfos {
        margin-top: 3rem;
    }
}

@media (min-width:576px) {
    .dashboard-div {
        max-height: 83vh;
        overflow-y: scroll;
    }
}


/*************************
******* My Tricks page ********
*************************/

.user-trick-mainImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#userTricks .trick-description {
    font-size: 0.90rem;
}



/*************************
******* Profile page ********
*************************/

 .avatar-input{
     display: none;
 }

 #profile li {
     list-style-type: none;
 }

 
/*************************
******* stats page ********
*************************/

.stats-card img {
    width: 75%;
    align-self: center;
    margin-top: 1rem;
}

/*************************
******* users page ********
*************************/

#adminUsers {
    color: #89ACAA;
}