/*** Colors *****
Taupe: #CDBDB2
Spearmint: #89ACAA
Honeysuckle: #BB616C
Navy Blue: #183A50
*/


/*************************
******* Global ********
*************************/

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h5, button, .navbar-brand {
    font-family: 'MuseoModerno', cursive;
}

h2 {
    font-size: 1.5rem;
    font-style: italic;
}

/******* Nav *********/
.navbar-brand {
    color: #89ACAA !important;
}

.nav-separator {
    position: relative;
    margin-left: 1rem;
}

.nav-separator::before {
    content: "";
    position: absolute;
    left: -10%;
    height: 60%;
    width: 2px;
    background-color:#89ACAA
}

.nav-link .active a {
    font-weight: bold !important;
    color: #89ACAA !important;
}

/******* Footer *********/

footer {
    background-color: black;
    color: #89ACAA;
    font-style: italic;
    font-size: 0.7rem;
}

/*************************
******* Home Page ********
*************************/

.fa-arrow-down {
    color: #89ACAA;
    font-size: 2rem;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    animation: arrow-nav 1000ms forwards infinite alternate;
}

.fa-arrow-up {
    color: #89ACAA;
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    bottom: 0rem;
    animation: arrow-nav 1000ms forwards infinite alternate;
}

@keyframes arrow-nav {
	from {
		transform: scale(1);
		opacity: 0.2;
	}
	to {
		transform: scale(1.1);
		opacity: 1;
	}
}

/******* Header *********/

#home {
    position: relative;
}

.homeHeader {
    background: url("../media/images/home.jpg") no-repeat fixed;
    background-position: right;
    position: relative;
    height: 94vh;
}

.homeHeader .homeTitle {
    position: relative;
    top: 10%;
    background-color: rgba(137, 172, 170, 0.5);
    width: 100%; 
}

.homeHeader h1 {
    font-size: 6rem;
    color: white;
}

/******* Trick List *********/

#trickList {
    position: relative;
    padding: 5rem 0;
}

#trickList .card {
    box-shadow: grey 0px 0px 20px -7px;
    border-radius: 5%;
    transform: scale(1);
    transition: transform 0.3s;
}

#trickList .card:hover {
    box-shadow: grey 0px 0px 20px -7px;
    border-radius: 5%;
    transform: scale(1.05);
    transition: transform 0.3s;
}

#trickList .card-img-top {
    border-radius: 5% 5% 0% 0%;
}

#trickList .card-title {
    text-transform: capitalize;
}

#trickList .card-title a {
    text-decoration: none;
    color: black;
}

#trickList .card-title a:hover {
    color: #89ACAA;
    transition: color 0.3s;
}

#trickList .card-body .fas {
    color: #89ACAA;
}

#loadMoreBtn, #loadLessBtn {
    border : black 1px solid;
    box-shadow: 1px 1px 3px 1px;
}

.fa-spinner {
    color: #89ACAA;
}

.fa-spinner:hover {
    transform: rotate(360deg);
    transition: transform 1000ms;
}