{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Legal notice
{% endblock %}

{% block body %}
	<div class="container login-div">
		<h1 class="h3 mb-4 font-weight-normal text-center my-md-5">Legal notice</h1>
		<div class="col-md-11 mx-auto mb-5 login-form">
			<p> Please read the various terms of use of this site carefully before browsing its pages. By connecting to this site, you fully accept these terms and conditions. Also, in accordance with article n ° 6 of Law n ° 2004-575 of June 21, 2004 for confidence in the digital economy, the managers of this website <a href = "http: //snowtricks.charlottesaury. fr "> snowtricks.charlottesaury.fr </a> are: </p>

            <h4> Site Editor: </h4>
            Name: Saury
            Given name: Charlotte
            16 rue du bois 56250 ST NOLFF
            Email: saury.charlotte@wanadoo.fr
            Website: <a href="http://wwww.charlottesaury.fr"> wwww.charlottesaury.fr </a>

            <h4> Accommodation: </h4>
            Host: 1 & 1IONOS
            Website: <a href="http://www.IONOS.fr"> www.ionos.fr </a>

            <h4> Development: </h4>
            Website created by Charlotte SAURY as part of an OpenClassrooms training project.

            <h4> Terms of use: </h4>

            <p> This site (<a href="http://wwww.snowtricks.charlottesaury.fr"> wwww.snowtricks.charlottesaury.fr </a>) is available in different web languages ​​(HTML, HTML5, Javascript, CSS, PHP etc…) for better ease of use and more pleasant graphics, we recommend that you use modern browsers such as Internet Explorer, Safari, Firefox, Google Chrome, etc… </p>

            <p> The legal notices were generated on the site <a title="generator of legal notices for free website" href="http://www.generateur-de-mentions-legales.com"> Generator of legal notices </a>, offered by <a title="imprimerie paris, imprimeur paris" href="http://welye.com"> Welye </a>. </p>

            <p> Saury Charlotte uses all the means at its disposal to ensure reliable information and reliable updating of its websites. However, errors or omissions may occur. The user must therefore ensure the accuracy of the information from, and report any changes to the site that he deems useful. Saury Charlotte is in no way responsible for the use made of this information, and for any direct or indirect damage that may result from it. </p>

            <p> <b> Cookies </b>: The <a href="http://wwww.snowtricks.charlottesaury.fr"> wwww.snowtricks.charlottesaury.fr </a> site may ask you to accept the cookies for statistical and display purposes. A cookie is information placed on your hard drive by the server of the site you are visiting. It contains several pieces of data that are stored on your computer in a simple text file that a server accesses to read and save information. Some parts of this site may not be functional without the acceptance of cookies. </p>

            <p> <b> Hypertext links: </b> Internet sites may provide links to other Internet sites or other resources available on the Internet. Saury Charlotte has no way to control the sites in connection with its websites. It does not answer for the availability of such sites and external sources, nor does it guarantee it. It cannot be held responsible for any damage of any nature whatsoever resulting from the content of these sites or external sources, and in particular from the information, products or services they offer, or from any use that may be made of these elements. The risks associated with this use fall fully on the Internet user, who must comply with their conditions of use. </p>

            <p> Users, subscribers and visitors to websites may not set up a hyperlink to this site without the express prior authorization of Saury Charlotte. </p>

            <p> In the event that a user or visitor wishes to set up a hyperlink to one of Saury Charlotte's websites, it will be up to him to send an email accessible on the site in order to formulate his request for implementation. place of a hyperlink. Saury Charlotte reserves the right to accept or refuse a hyperlink without having to justify its decision. </p>

            <h4> Services provided: </h4>

            <p> Saury Charlotte strives to provide the site wwww.snowtricks.charlottesaury.fr with as accurate information as possible. the information on the site <a href="http://wwww.snowtricks.charlottesaury.fr"> wwww.snowtricks.charlottesaury.fr </a> is not exhaustive and the photos are not contractual. They are given subject to modifications having been made since they were put online. Furthermore, all the information indicated on the site wwww.charlottesaury.fr is given for information only, and is subject to change or change without notice. </p>

            <h4> Contractual limitation on data: </h4>

            <p> The information on this site is as accurate as possible and the site is updated at different times of the year, but may contain inaccuracies or omissions. If you notice a gap, error or what appears to be a malfunction, please report it by email to saury.charlotte@wanadoo.fr, describing the problem as precisely as possible (page asking problem, type of computer and browser used,…). </p>

            <p> Any downloaded content is done at the user's own risk and under his sole responsibility. Consequently, cannot be held responsible for any damage suffered by the user's computer or any loss of data resulting from the download. In addition, the user of the site agrees to access the site using recent equipment, which does not contain viruses and with an updated latest generation browser. </p>

            <p> The hypertext links set up within the framework of this website to other resources on the Internet network can not engage the responsibility of Saury Charlotte. </p>

            <h4> Intellectual property: </h4>

            <p> Photos: Photos are from a royalty-free stock photo bank (Unsplash). </p>

            <p> All the content of this present on the site <a href="http://wwww.snowtricks.charlottesaury.fr"> wwww.snowtricks.charlottesaury.fr </a>, including, without limitation, graphics, images, texts , videos, animations, sounds, logos, gifs and icons as well as their formatting are the exclusive property of Saury Charlotte with the exception of brands, logos or content belonging to other partner companies or authors. </p>

            <p> Any reproduction, distribution, modification, adaptation, retransmission or publication, even partial, of these different elements is strictly prohibited without the express written consent of Saury Charlotte. This representation or reproduction, by any means whatsoever, constitutes an infringement punishable by articles L.335-2 and following of the Code of intellectual property. Failure to comply with this prohibition constitutes an infringement which may engage the civil and criminal liability of the infringer. In addition, the owners of the copied Content could take legal action against you. </p>

            <h4> Declaration to the CNIL: </h4>

            <p> In accordance with Law 78-17 of January 6, 1978 (amended by Law 2004-801 of August 6, 2004 relating to the protection of individuals with regard to the processing of personal data) relating to IT , files and freedoms, this site has not been declared to the National Commission for Informatics and Liberties (<a href = "http://www.cnil.fr/" > www.cnil.fr </a>). </p>

            <h4> Disputes: </h4>

            <p> These site conditions <a href="http://wwww.snowtricks.charlottesaury.fr"> wwww.snowtricks.charlottesaury.fr </a> are governed by French law and any dispute or litigation that may arise from the interpretation or execution of these will be the exclusive jurisdiction of the courts. The reference language, for the settlement of possible disputes, is French. </p>

            <h4> Personal data: </h4>

            <p> In general, you are not required to provide us with your personal data when you visit our website <a href="http://wwww.snowtricks.charlottesaury.fr"> wwww.snowtricks.charlottesaury.fr </a> . </p>

            <p> However, this principle has certain exceptions. Indeed, for certain services offered by our site, you may be required to provide us with certain data such as: your name, first name, date and place of birth, your email address, and your telephone number, website. This is the case when you fill out the form to complete your user profile. When creating a user account, only your email address and a nickname will be required. In any case, you can refuse to provide your personal data. In this case, you will not be able to use the site's services, in particular that of commenting on blog articles. </p>
<p> Finally, we may automatically collect certain information about you when simply browsing our website, in particular: information about the use of our site, such as the areas you visit and the services you access , your IP address, your browser type, your access times. Such information is used exclusively for internal statistical purposes, so as to improve the quality of the services offered to you. The databases are protected by the provisions of the law of July 1, 1998 transposing Directive 96/9 of March 11, 1996 on the legal protection of databases. </p>		</div>

	</div>

{% endblock %}
