{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Privacy policy
{% endblock %}

{% block body %}
	<div class="container login-div">
		<h1 class="h3 mb-4 font-weight-normal text-center my-md-5">Privacy policy</h1>
		<div class="col-md-11 mx-auto mb-5 login-form">
			<p>Jimmy SWEAT is concerned about preserving the confidentiality of your personal information and attaches great importance to the protection of the privacy of the users of its services.</p>

 
            <h4>Who am I ?</h4>
            <p>Jimmy Sweat, snowboard passionnate.</p>

            <h4>Use of personal data collected</h4>

            <h5>Comments</h5>

            <p>When you leave a comment on our website, the data entered in the comment form is collected to help us detect unwanted comments. Your profile picture if one will be publicly visible next to your comment.</p>

            <h5>Cookies</h5>

            <p>When you log in, we will set up a number of cookies to save your login information. If you check "Remember me", your connection cookie will be kept for one year. If you log out of your account, the login cookie will be deleted.</p>

            <h5>Content embedded from other sites</h5>
            <p>Articles on this site may include embedded content (eg videos, images, articles, etc.). Content embedded from other sites behaves in the same way as if the visitor were to that other site.</p>

            <p>These websites could collect data about you, use cookies, embed third-party tracking tools, track your interactions with this embedded content if you have a connected account on their website.</p>

            <h4>Use and transmission of your personal data</h4>

            <h4>How long is your data stored</h4>
            <p>If you leave a comment, the comment and its metadata are retained indefinitely.</p>

            <p>For users who register, we also store the personal data indicated in their profile. All users can view, edit, or delete their personal information at any time. Site managers can also view and edit this information.</p>

            <h4>The rights you have over your data</h4>
            <p>If you have an account or if you have left comments on the site, you can request to receive a file containing all the personal data that we hold about you, including those that you have provided to us. You can also request the deletion of personal data concerning you. This does not take into account data stored for administrative, legal or security reasons.</p>


            <h4>Contact informations</h4>

            <ul>
                <li>Jimmy SWEAT</li>
                <li>j-sweat@gmail.com</li>
            </ul>

		</div>

	</div>

{% endblock %}
