  
{% extends 'base.html.twig' %}

{% block title %}Error
{% endblock %}


{% block body %}
	<div class="container-fluid py-5 trick-bg error">
		<div class="container px-0 pb-5 d-flex justify-content-center align-items-center" id="editPage">
			
            <h1>An error has occured, please go back to SnowTricks !</h1>

		</div>
	</div>
</div>{% endblock %}