<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="userModalTitle">More about author...</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body row">
				<div class="col-md-4 mb-3 text-center">
					<img alt="profile picture" id="userModalAvatar"/>
				</div>
				<div class="col-md-8" id="userModalInfos">
					<h6 id="userModalName"></h6>
					<p id="userModalEmail"></p>
					<p id="userModalDescription"></p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>